---
http_interactions:
- request:
    method: get
    uri: https://api.binance.com/api/v3/klines?interval=1h&limit=2&symbol=ELFUSDT
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Mbx-Uuid:
      - 9e1ab233-f5c3-41c8-95d5-fd095f48ec7a
      X-Mbx-Used-Weight:
      - '1'
      X-Mbx-Used-Weight-1m:
      - '1'
      X-Content-Security-Policy:
      - default-src 'self'
      X-Webkit-Csp:
      - default-src 'self'
    body:
      encoding: UTF-8
      string: '[[1636873200000,"0.54140000","0.54150000","0.53710000","0.53840000","25763.80000000",1636876799999,"13895.74152000",116,"9064.00000000","4887.63178000","0"],[1636876800000,"0.53830000","0.53920000","0.53530000","0.53760000","14692.20000000",1636880399999,"7891.69222000",75,"6603.10000000","3547.90747000","0"]]'
  recorded_at: Sun, 14 Nov 2021 08:46:49 GMT
- request:
    method: get
    uri: https://api.binance.com/api/v3/klines?interval=1h&limit=2&symbol=TINAJIMBO
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Mbx-Uuid:
      - 9e1ab233-f5c3-41c8-95d5-fd095f48ec7a
      X-Mbx-Used-Weight:
      - '2'
      X-Mbx-Used-Weight-1m:
      - '2'
      X-Content-Security-Policy:
      - default-src 'self'
      X-Webkit-Csp:
      - default-src 'self'
    body:
      encoding: UTF-8
      string: '{"code":-1121,"msg":"Invalid symbol."}'
  recorded_at: Sun, 14 Nov 2021 08:46:49 GMT
- request:
    method: get
    uri: https://fapi.binance.com/futures/data/globalLongShortAccountRatio?limit=1&period=1h&symbol=BTCUSDT
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Mbx-Apikey:
      - fh5stcBWhLGyYslwaQBLvJeo4UVM962zqHnPlhqmI7hWXE8ounsHfuxM1q4dh5Ui
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - future-bigdata-service:BIN_PROD:9105
    body:
      encoding: UTF-8
      string: '[{"symbol":"BTCUSDT","longAccount":"0.7740","longShortRatio":"3.4248","shortAccount":"0.2260","timestamp":1636876800000}]'
  recorded_at: Sun, 14 Nov 2021 08:46:50 GMT
- request:
    method: get
    uri: https://fapi.binance.com/futures/data/openInterestHist?limit=1&period=1h&symbol=BTCUSDT
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Mbx-Apikey:
      - fh5stcBWhLGyYslwaQBLvJeo4UVM962zqHnPlhqmI7hWXE8ounsHfuxM1q4dh5Ui
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - future-bigdata-service:BIN_PROD:9105
    body:
      encoding: UTF-8
      string: '[{"symbol":"BTCUSDT","sumOpenInterest":"57691.35800000","sumOpenInterestValue":"3730971659.14392000","timestamp":1636876800000}]'
  recorded_at: Sun, 14 Nov 2021 08:46:50 GMT
- request:
    method: get
    uri: https://fapi.binance.com/fapi/v1/fundingRate?limit=1&symbol=BTCUSDT
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Mbx-Apikey:
      - fh5stcBWhLGyYslwaQBLvJeo4UVM962zqHnPlhqmI7hWXE8ounsHfuxM1q4dh5Ui
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"symbol":"BTCUSDT","fundingTime":1636876800001,"fundingRate":"0.00010000"}]'
  recorded_at: Sun, 14 Nov 2021 08:46:50 GMT
- request:
    method: get
    uri: https://api.binance.com/api/v3/klines?interval=1h&limit=2&symbol=BTCUSDT
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Mbx-Uuid:
      - ead1e9cf-5bbc-4bfa-841c-73fe5b5279cd
      X-Mbx-Used-Weight:
      - '3'
      X-Mbx-Used-Weight-1m:
      - '3'
      X-Content-Security-Policy:
      - default-src 'self'
      X-Webkit-Csp:
      - default-src 'self'
    body:
      encoding: UTF-8
      string: '[[1636873200000,"64800.01000000","64887.42000000","64439.73000000","64627.58000000","999.35912000",1636876799999,"64632554.03304130",43500,"454.85932000","29419360.15840190","0"],[1636876800000,"64627.58000000","64800.00000000","64056.00000000","64286.18000000","1104.86534000",1636880399999,"71143873.97107790",41344,"527.86142000","33992612.42031620","0"]]'
  recorded_at: Sun, 14 Nov 2021 08:46:51 GMT
- request:
    method: get
    uri: https://fapi.binance.com/fapi/v1/klines?interval=1h&limit=2&symbol=BTCUSDT
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Mbx-Apikey:
      - fh5stcBWhLGyYslwaQBLvJeo4UVM962zqHnPlhqmI7hWXE8ounsHfuxM1q4dh5Ui
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Mbx-Used-Weight-1m:
      - '1'
      X-Response-Time:
      - 0ms
    body:
      encoding: ASCII-8BIT
      string: '[[1636873200000,"64841.12","64915.00","64582.52","64677.59","4684.771",1636876799999,"303292506.58890",60907,"2381.019","154159800.09185","0"],[1636876800000,"64677.60","64850.00","64103.00","64327.84","9501.006",1636880399999,"612047872.98704",101189,"4472.791","288192246.62032","0"]]'
  recorded_at: Sun, 14 Nov 2021 08:46:51 GMT
- request:
    method: get
    uri: https://fapi.binance.com/futures/data/globalLongShortAccountRatio?limit=1&period=1h&symbol=TINAJIMBO
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Mbx-Apikey:
      - fh5stcBWhLGyYslwaQBLvJeo4UVM962zqHnPlhqmI7hWXE8ounsHfuxM1q4dh5Ui
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - future-bigdata-service:BIN_PROD:9105
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Sun, 14 Nov 2021 08:46:51 GMT
- request:
    method: get
    uri: https://fapi.binance.com/futures/data/openInterestHist?limit=1&period=1h&symbol=TINAJIMBO
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Mbx-Apikey:
      - fh5stcBWhLGyYslwaQBLvJeo4UVM962zqHnPlhqmI7hWXE8ounsHfuxM1q4dh5Ui
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - future-bigdata-service:BIN_PROD:9105
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Sun, 14 Nov 2021 08:46:52 GMT
- request:
    method: get
    uri: https://fapi.binance.com/fapi/v1/fundingRate?limit=1&symbol=TINAJIMBO
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Mbx-Apikey:
      - fh5stcBWhLGyYslwaQBLvJeo4UVM962zqHnPlhqmI7hWXE8ounsHfuxM1q4dh5Ui
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Sun, 14 Nov 2021 08:46:52 GMT
[...]
- request:
    method: get
    uri: https://fapi.binance.com/fapi/v1/klines?interval=1h&limit=2&symbol=BTCUSDT
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Mbx-Apikey:
      - token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Mbx-Used-Weight-1m:
      - '1'
      X-Response-Time:
      - 0ms
    body:
      encoding: ASCII-8BIT
      string: '[[1636873200000,"64841.12","64915.00","64582.52","64677.59","4684.771",1636876799999,"303292506.58890",60907,"2381.019","154159800.09185","0"],[1636876800000,"64677.60","64850.00","64103.00","64328.00","9506.883",1636880399999,"612425953.03229",101313,"4474.837","288323869.67568","0"]]'
  recorded_at: Sun, 14 Nov 2021 08:47:02 GMT
recorded_with: VCR 6.0.0
