---
http_interactions:
- request:
    method: get
    uri: https://api.binance.com/api/v3/klines?interval=1h&limit=2&symbol=ELFUSDT
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Mbx-Uuid:
      - 3e04c733-ffc1-4cc0-9394-761be8acab09
      X-Mbx-Used-Weight:
      - '1'
      X-Mbx-Used-Weight-1m:
      - '1'
      X-Content-Security-Policy:
      - default-src 'self'
      X-Webkit-Csp:
      - default-src 'self'
    body:
      encoding: UTF-8
      string: '[[1637982000000,"0.54310000","0.55520000","0.53720000","0.53780000","629701.00000000",1637985599999,"343306.80501000",1069,"357739.40000000","194992.13686000","0"],[1637985600000,"0.53780000","0.53850000","0.52950000","0.53850000","138713.70000000",1637989199999,"74033.96436000",337,"77239.00000000","41238.13980000","0"]]'
  recorded_at: Sat, 27 Nov 2021 04:22:52 GMT
- request:
    method: get
    uri: https://api.binance.com/api/v3/klines?interval=1h&limit=2&symbol=TINAJIMBO
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Mbx-Uuid:
      - 83228c75-40be-4542-8362-6c42989d6b3b
      X-Mbx-Used-Weight:
      - '2'
      X-Mbx-Used-Weight-1m:
      - '2'
      X-Content-Security-Policy:
      - default-src 'self'
      X-Webkit-Csp:
      - default-src 'self'
    body:
      encoding: UTF-8
      string: '{"code":-1121,"msg":"Invalid symbol."}'
  recorded_at: Sat, 27 Nov 2021 04:22:52 GMT
- request:
    method: get
    uri: https://fapi.binance.com/futures/data/globalLongShortAccountRatio?limit=1&period=1h&symbol=BTCUSDT
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Mbx-Apikey:
      - token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - future-bigdata-service:BIN_PROD:9105
    body:
      encoding: UTF-8
      string: '[{"symbol":"BTCUSDT","longAccount":"0.8463","longShortRatio":"5.5062","shortAccount":"0.1537","timestamp":1637985600000}]'
  recorded_at: Sat, 27 Nov 2021 04:22:53 GMT
- request:
    method: get
    uri: https://fapi.binance.com/futures/data/openInterestHist?limit=1&period=1h&symbol=BTCUSDT
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Mbx-Apikey:
      - token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - future-bigdata-service:BIN_PROD:9105
    body:
      encoding: UTF-8
      string: '[{"symbol":"BTCUSDT","sumOpenInterest":"65693.61400000","sumOpenInterestValue":"3572155765.73799772","timestamp":1637985600000}]'
  recorded_at: Sat, 27 Nov 2021 04:22:53 GMT
- request:
    method: get
    uri: https://fapi.binance.com/fapi/v1/fundingRate?limit=1&symbol=BTCUSDT
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Mbx-Apikey:
      - token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"symbol":"BTCUSDT","fundingTime":1637971200005,"fundingRate":"0.00010824"}]'
  recorded_at: Sat, 27 Nov 2021 04:22:53 GMT
- request:
    method: get
    uri: https://api.binance.com/api/v3/klines?interval=1h&limit=2&symbol=BTCUSDT
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Mbx-Uuid:
      - 571770d6-a0b1-411b-967f-9bf8d10c3e10
      X-Mbx-Used-Weight:
      - '3'
      X-Mbx-Used-Weight-1m:
      - '3'
      X-Content-Security-Policy:
      - default-src 'self'
      X-Webkit-Csp:
      - default-src 'self'
    body:
      encoding: UTF-8
      string: '[[1637982000000,"54374.25000000","54608.22000000","54262.83000000","54347.07000000","1581.79161000",1637985599999,"86125692.60023900",44548,"635.35286000","34592356.48334530","0"],[1637985600000,"54347.06000000","54497.38000000","54261.76000000","54496.91000000","544.24650000",1637989199999,"29593072.86078610",17058,"265.27374000","14425728.36540120","0"]]'
  recorded_at: Sat, 27 Nov 2021 04:22:53 GMT
- request:
    method: get
    uri: https://fapi.binance.com/fapi/v1/klines?interval=1h&limit=2&symbol=BTCUSDT
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Mbx-Apikey:
      - token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Mbx-Used-Weight-1m:
      - '1'
      X-Response-Time:
      - 0ms
    body:
      encoding: ASCII-8BIT
      string: '[[1637982000000,"54407.72","54638.00","54303.71","54368.67","4609.693",1637985599999,"251223481.35437",67245,"2126.096","115876591.57420","0"],[1637985600000,"54368.66","54531.45","54275.89","54514.99","1911.510",1637989199999,"103994256.99214",26293,"1101.358","59927319.51988","0"]]'
  recorded_at: Sat, 27 Nov 2021 04:22:54 GMT
- request:
    method: get
    uri: https://api.binance.com/api/v3/klines?interval=1h&limit=2&symbol=fh5stcBWhLGyYslwaQBLvJeo4UVM962zqHnPlhqmI7hWXE8ounsHfuxM1q4dh5Ui
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Mbx-Uuid:
      - 19ba1102-3703-4931-ba1e-4fb35ac2f404
      X-Mbx-Used-Weight:
      - '4'
      X-Mbx-Used-Weight-1m:
      - '4'
      X-Content-Security-Policy:
      - default-src 'self'
      X-Webkit-Csp:
      - default-src 'self'
    body:
      encoding: UTF-8
      string: '{"code":-1100,"msg":"Illegal characters found in parameter ''symbol'';
        legal range is ''^[A-Z0-9-_.]{1,20}$''."}'
  recorded_at: Sat, 27 Nov 2021 04:22:54 GMT
[...]
- request:
    method: get
    uri: https://fapi.binance.com/futures/data/globalLongShortAccountRatio?limit=1&period=1h&symbol=TINAJIMBO
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Mbx-Apikey:
      - fh5stcBWhLGyYslwaQBLvJeo4UVM962zqHnPlhqmI7hWXE8ounsHfuxM1q4dh5Ui
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - future-bigdata-service:BIN_PROD:9105
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Sat, 27 Nov 2021 04:22:55 GMT
- request:
    method: get
    uri: https://fapi.binance.com/futures/data/openInterestHist?limit=1&period=1h&symbol=TINAJIMBO
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Mbx-Apikey:
      - fh5stcBWhLGyYslwaQBLvJeo4UVM962zqHnPlhqmI7hWXE8ounsHfuxM1q4dh5Ui
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - future-bigdata-service:BIN_PROD:9105
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Sat, 27 Nov 2021 04:22:56 GMT
- request:
    method: get
    uri: https://fapi.binance.com/fapi/v1/fundingRate?limit=1&symbol=TINAJIMBO
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Mbx-Apikey:
      - fh5stcBWhLGyYslwaQBLvJeo4UVM962zqHnPlhqmI7hWXE8ounsHfuxM1q4dh5Ui
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Sat, 27 Nov 2021 04:22:56 GMT
- request:
    method: get
    uri: https://fapi.binance.com/futures/data/globalLongShortAccountRatio?limit=1&period=1h&symbol=ELFUSDT
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Mbx-Apikey:
      - fh5stcBWhLGyYslwaQBLvJeo4UVM962zqHnPlhqmI7hWXE8ounsHfuxM1q4dh5Ui
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - future-bigdata-service:BIN_PROD:9105
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Sat, 04 Dec 2021 14:35:10 GMT
- request:
    method: get
    uri: https://fapi.binance.com/futures/data/openInterestHist?limit=1&period=1h&symbol=ELFUSDT
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Mbx-Apikey:
      - fh5stcBWhLGyYslwaQBLvJeo4UVM962zqHnPlhqmI7hWXE8ounsHfuxM1q4dh5Ui
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - future-bigdata-service:BIN_PROD:9105
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Sat, 04 Dec 2021 14:35:10 GMT
- request:
    method: get
    uri: https://fapi.binance.com/fapi/v1/fundingRate?limit=1&symbol=ELFUSDT
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Mbx-Apikey:
      - fh5stcBWhLGyYslwaQBLvJeo4UVM962zqHnPlhqmI7hWXE8ounsHfuxM1q4dh5Ui
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Sat, 04 Dec 2021 14:35:10 GMT
- request:
    method: get
    uri: https://fapi.binance.com/fapi/v1/klines?interval=1h&limit=2&symbol=ELFUSDT
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Mbx-Apikey:
      - fh5stcBWhLGyYslwaQBLvJeo4UVM962zqHnPlhqmI7hWXE8ounsHfuxM1q4dh5Ui
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Mbx-Used-Weight-1m:
      - '1'
      X-Response-Time:
      - 0ms
    body:
      encoding: ASCII-8BIT
      string: '{"code":-1121,"msg":"Invalid symbol."}'
  recorded_at: Sat, 04 Dec 2021 14:35:10 GMT
[...]
- request:
    method: get
    uri: https://fapi.binance.com/futures/data/globalLongShortAccountRatio?limit=1&period=1h&symbol=SOLUSDT
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Mbx-Apikey:
      - fh5stcBWhLGyYslwaQBLvJeo4UVM962zqHnPlhqmI7hWXE8ounsHfuxM1q4dh5Ui
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - future-bigdata-service:BIN_PROD:9105
    body:
      encoding: UTF-8
      string: '[{"symbol":"SOLUSDT","longAccount":"0.8403","longShortRatio":"5.2617","shortAccount":"0.1597","timestamp":1638626400000}]'
  recorded_at: Sat, 04 Dec 2021 14:46:58 GMT
- request:
    method: get
    uri: https://fapi.binance.com/futures/data/openInterestHist?limit=1&period=1h&symbol=SOLUSDT
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Mbx-Apikey:
      - fh5stcBWhLGyYslwaQBLvJeo4UVM962zqHnPlhqmI7hWXE8ounsHfuxM1q4dh5Ui
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - future-bigdata-service:BIN_PROD:9105
    body:
      encoding: UTF-8
      string: '[{"symbol":"SOLUSDT","sumOpenInterest":"988817.00000000","sumOpenInterestValue":"191310147.50036637","timestamp":1638626400000}]'
  recorded_at: Sat, 04 Dec 2021 14:46:58 GMT
- request:
    method: get
    uri: https://fapi.binance.com/fapi/v1/fundingRate?limit=1&symbol=SOLUSDT
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Mbx-Apikey:
      - fh5stcBWhLGyYslwaQBLvJeo4UVM962zqHnPlhqmI7hWXE8ounsHfuxM1q4dh5Ui
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"symbol":"SOLUSDT","fundingTime":1638604800004,"fundingRate":"-0.00010538"}]'
  recorded_at: Sat, 04 Dec 2021 14:46:59 GMT
- request:
    method: get
    uri: https://api.binance.com/api/v3/klines?interval=1h&limit=2&symbol=SOLUSDT
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Mbx-Uuid:
      - 01c5f8a0-2317-437a-a488-77c052af82c4
      X-Mbx-Used-Weight:
      - '1'
      X-Mbx-Used-Weight-1m:
      - '1'
      X-Content-Security-Policy:
      - default-src 'self'
      X-Webkit-Csp:
      - default-src 'self'
    body:
      encoding: UTF-8
      string: '[[1638622800000,"190.22000000","193.99000000","188.61000000","193.63000000","120086.70000000",1638626399999,"23011376.46480000",35539,"61903.81000000","11864233.45650000","0"],[1638626400000,"193.61000000","199.58000000","192.90000000","198.83000000","136373.97000000",1638629999999,"26797490.88760000",41456,"72298.92000000","14204652.85120000","0"]]'
  recorded_at: Sat, 04 Dec 2021 14:46:59 GMT
- request:
    method: get
    uri: https://fapi.binance.com/fapi/v1/klines?interval=1h&limit=2&symbol=SOLUSDT
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Mbx-Apikey:
      - fh5stcBWhLGyYslwaQBLvJeo4UVM962zqHnPlhqmI7hWXE8ounsHfuxM1q4dh5Ui
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Mbx-Used-Weight-1m:
      - '1'
      X-Response-Time:
      - 0ms
    body:
      encoding: ASCII-8BIT
      string: '[[1638622800000,"190.1970","193.9000","188.5400","193.4630","390594",1638626399999,"74807923.1250",52771,"190545","36493100.8710","0"],[1638626400000,"193.4850","199.4280","192.8010","198.5460","478271",1638629999999,"93978387.8440",58344,"240455","47258360.4490","0"]]'
  recorded_at: Sat, 04 Dec 2021 14:46:59 GMT
- request:
    method: get
    uri: https://fapi.binance.com/futures/data/globalLongShortAccountRatio?limit=1&period=1h&symbol=fh5stcBWhLGyYslwaQBLvJeo4UVM962zqHnPlhqmI7hWXE8ounsHfuxM1q4dh5Ui
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Mbx-Apikey:
      - fh5stcBWhLGyYslwaQBLvJeo4UVM962zqHnPlhqmI7hWXE8ounsHfuxM1q4dh5Ui
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - future-bigdata-service:BIN_PROD:9105
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Sun, 05 Dec 2021 08:20:56 GMT
- request:
    method: get
    uri: https://fapi.binance.com/futures/data/openInterestHist?limit=1&period=1h&symbol=fh5stcBWhLGyYslwaQBLvJeo4UVM962zqHnPlhqmI7hWXE8ounsHfuxM1q4dh5Ui
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Mbx-Apikey:
      - fh5stcBWhLGyYslwaQBLvJeo4UVM962zqHnPlhqmI7hWXE8ounsHfuxM1q4dh5Ui
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - future-bigdata-service:BIN_PROD:9105
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Sun, 05 Dec 2021 08:20:56 GMT
- request:
    method: get
    uri: https://fapi.binance.com/fapi/v1/fundingRate?limit=1&symbol=fh5stcBWhLGyYslwaQBLvJeo4UVM962zqHnPlhqmI7hWXE8ounsHfuxM1q4dh5Ui
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Mbx-Apikey:
      - fh5stcBWhLGyYslwaQBLvJeo4UVM962zqHnPlhqmI7hWXE8ounsHfuxM1q4dh5Ui
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Sun, 05 Dec 2021 08:20:56 GMT
- request:
    method: get
    uri: https://fapi.binance.com/futures/data/globalLongShortAccountRatio?limit=1&period=1h&symbol=BTCUSDT,%20SOLUSDT
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Mbx-Apikey:
      - fh5stcBWhLGyYslwaQBLvJeo4UVM962zqHnPlhqmI7hWXE8ounsHfuxM1q4dh5Ui
  response:
    status:
      code: 400
      message: Bad Request
    headers:
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Sun, 05 Dec 2021 13:15:44 GMT
- request:
    method: get
    uri: https://fapi.binance.com/futures/data/globalLongShortAccountRatio?limit=1&period=1h&symbol=BTCUSDT,%20ETHUSDT
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Mbx-Apikey:
      - fh5stcBWhLGyYslwaQBLvJeo4UVM962zqHnPlhqmI7hWXE8ounsHfuxM1q4dh5Ui
  response:
    status:
      code: 400
      message: Bad Request
    headers:
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Sun, 05 Dec 2021 13:25:09 GMT
- request:
    method: get
    uri: https://fapi.binance.com/futures/data/globalLongShortAccountRatio?limit=1&period=1h&symbol=BTCUSDT,ETHUSDT
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Mbx-Apikey:
      - fh5stcBWhLGyYslwaQBLvJeo4UVM962zqHnPlhqmI7hWXE8ounsHfuxM1q4dh5Ui
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - future-bigdata-service:BIN_PROD:9105
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Sun, 05 Dec 2021 13:25:19 GMT
- request:
    method: get
    uri: https://fapi.binance.com/futures/data/openInterestHist?limit=1&period=1h&symbol=BTCUSDT,ETHUSDT
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Mbx-Apikey:
      - fh5stcBWhLGyYslwaQBLvJeo4UVM962zqHnPlhqmI7hWXE8ounsHfuxM1q4dh5Ui
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - future-bigdata-service:BIN_PROD:9105
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Sun, 05 Dec 2021 13:25:20 GMT
- request:
    method: get
    uri: https://fapi.binance.com/fapi/v1/fundingRate?limit=1&symbol=BTCUSDT,ETHUSDT
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Mbx-Apikey:
      - fh5stcBWhLGyYslwaQBLvJeo4UVM962zqHnPlhqmI7hWXE8ounsHfuxM1q4dh5Ui
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Sun, 05 Dec 2021 13:25:20 GMT
- request:
    method: get
    uri: https://api.binance.com/api/v3/klines?interval=1h&limit=2&symbol=BTCUSDT,ETHUSDT
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Mbx-Uuid:
      - 6a6b2fb8-e91b-4cd3-9397-fdaac2e75985
      X-Mbx-Used-Weight:
      - '1'
      X-Mbx-Used-Weight-1m:
      - '1'
      X-Content-Security-Policy:
      - default-src 'self'
      X-Webkit-Csp:
      - default-src 'self'
    body:
      encoding: UTF-8
      string: '{"code":-1100,"msg":"Illegal characters found in parameter ''symbol'';
        legal range is ''^[A-Z0-9-_.]{1,20}$''."}'
  recorded_at: Sun, 05 Dec 2021 13:25:20 GMT
- request:
    method: get
    uri: https://fapi.binance.com/futures/data/globalLongShortAccountRatio?limit=1&period=1h&symbol=BTCUSDT%7D
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Mbx-Apikey:
      - fh5stcBWhLGyYslwaQBLvJeo4UVM962zqHnPlhqmI7hWXE8ounsHfuxM1q4dh5Ui
  response:
    status:
      code: 400
      message: Bad Request
    headers:
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Sun, 05 Dec 2021 13:31:15 GMT
- request:
    method: get
    uri: https://fapi.binance.com/futures/data/globalLongShortAccountRatio?limit=1&period=1h&symbol=BTCUSDT,SOLUSDT
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Mbx-Apikey:
      - fh5stcBWhLGyYslwaQBLvJeo4UVM962zqHnPlhqmI7hWXE8ounsHfuxM1q4dh5Ui
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - future-bigdata-service:BIN_PROD:9105
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Sun, 05 Dec 2021 13:48:28 GMT
- request:
    method: get
    uri: https://fapi.binance.com/futures/data/openInterestHist?limit=1&period=1h&symbol=BTCUSDT,SOLUSDT
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Mbx-Apikey:
      - fh5stcBWhLGyYslwaQBLvJeo4UVM962zqHnPlhqmI7hWXE8ounsHfuxM1q4dh5Ui
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - future-bigdata-service:BIN_PROD:9105
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Sun, 05 Dec 2021 13:48:28 GMT
- request:
    method: get
    uri: https://fapi.binance.com/fapi/v1/fundingRate?limit=1&symbol=BTCUSDT,SOLUSDT
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Mbx-Apikey:
      - fh5stcBWhLGyYslwaQBLvJeo4UVM962zqHnPlhqmI7hWXE8ounsHfuxM1q4dh5Ui
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Sun, 05 Dec 2021 13:48:29 GMT
- request:
    method: get
    uri: https://api.binance.com/api/v3/klines?interval=1h&limit=2&symbol=BTCUSDT,SOLUSDT
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Mbx-Uuid:
      - 17e8048d-2c8f-456e-9d42-fc2a17cb6fd4
      X-Mbx-Used-Weight:
      - '1'
      X-Mbx-Used-Weight-1m:
      - '1'
      X-Content-Security-Policy:
      - default-src 'self'
      X-Webkit-Csp:
      - default-src 'self'
    body:
      encoding: UTF-8
      string: '{"code":-1100,"msg":"Illegal characters found in parameter ''symbol'';
        legal range is ''^[A-Z0-9-_.]{1,20}$''."}'
  recorded_at: Sun, 05 Dec 2021 13:48:29 GMT
- request:
    method: get
    uri: https://fapi.binance.com/futures/data/globalLongShortAccountRatio?limit=1&period=1h&symbol=SOLUSDT,BTCUSDT
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Mbx-Apikey:
      - fh5stcBWhLGyYslwaQBLvJeo4UVM962zqHnPlhqmI7hWXE8ounsHfuxM1q4dh5Ui
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - future-bigdata-service:BIN_PROD:9105
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Sun, 05 Dec 2021 13:49:23 GMT
- request:
    method: get
    uri: https://fapi.binance.com/futures/data/openInterestHist?limit=1&period=1h&symbol=SOLUSDT,BTCUSDT
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Mbx-Apikey:
      - fh5stcBWhLGyYslwaQBLvJeo4UVM962zqHnPlhqmI7hWXE8ounsHfuxM1q4dh5Ui
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - future-bigdata-service:BIN_PROD:9105
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Sun, 05 Dec 2021 13:49:23 GMT
- request:
    method: get
    uri: https://fapi.binance.com/fapi/v1/fundingRate?limit=1&symbol=SOLUSDT,BTCUSDT
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Mbx-Apikey:
      - fh5stcBWhLGyYslwaQBLvJeo4UVM962zqHnPlhqmI7hWXE8ounsHfuxM1q4dh5Ui
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Sun, 05 Dec 2021 13:49:23 GMT
- request:
    method: get
    uri: https://api.binance.com/api/v3/klines?interval=1h&limit=2&symbol=SOLUSDT,BTCUSDT
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Mbx-Uuid:
      - 88d6fe9c-c271-4c8c-92a1-b5e3f686aac4
      X-Mbx-Used-Weight:
      - '1'
      X-Mbx-Used-Weight-1m:
      - '1'
      X-Content-Security-Policy:
      - default-src 'self'
      X-Webkit-Csp:
      - default-src 'self'
    body:
      encoding: UTF-8
      string: '{"code":-1100,"msg":"Illegal characters found in parameter ''symbol'';
        legal range is ''^[A-Z0-9-_.]{1,20}$''."}'
  recorded_at: Sun, 05 Dec 2021 13:49:23 GMT
recorded_with: VCR 6.0.0
