---
http_interactions:
- request:
    method: get
    uri: https://api.binance.com/api/v3/klines?interval=1h&limit=2&symbol=ELFUSDT
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Mbx-Uuid:
      - 7181ba64-6a24-47c1-92b8-fe97dd42beff
      X-Mbx-Used-Weight:
      - '1'
      X-Mbx-Used-Weight-1m:
      - '1'
      X-Content-Security-Policy:
      - default-src 'self'
      X-Webkit-Csp:
      - default-src 'self'
    body:
      encoding: UTF-8
      string: '[[1636902000000,"0.54680000","0.54680000","0.54280000","0.54300000","46737.80000000",1636905599999,"25437.78644000",203,"16712.70000000","9100.23053000","0"],[1636905600000,"0.54360000","0.54370000","0.54210000","0.54330000","4268.10000000",1636909199999,"2317.62812000",45,"2998.80000000","1628.55981000","0"]]'
  recorded_at: Sun, 14 Nov 2021 16:31:30 GMT
- request:
    method: get
    uri: https://api.binance.com/api/v3/klines?interval=1h&limit=2&symbol=TINAJIMBO
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Mbx-Uuid:
      - 00bb4194-3f2e-4805-88b2-1bb8c633b64e
      X-Mbx-Used-Weight:
      - '2'
      X-Mbx-Used-Weight-1m:
      - '2'
      X-Content-Security-Policy:
      - default-src 'self'
      X-Webkit-Csp:
      - default-src 'self'
    body:
      encoding: UTF-8
      string: '{"code":-1121,"msg":"Invalid symbol."}'
  recorded_at: Sun, 14 Nov 2021 16:31:30 GMT
- request:
    method: get
    uri: https://fapi.binance.com/futures/data/globalLongShortAccountRatio?limit=1&period=1h&symbol=BTCUSDT
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Mbx-Apikey:
      - fh5stcBWhLGyYslwaQBLvJeo4UVM962zqHnPlhqmI7hWXE8ounsHfuxM1q4dh5Ui
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - future-bigdata-service:BIN_PROD:9105
    body:
      encoding: UTF-8
      string: '[{"symbol":"BTCUSDT","longAccount":"0.7755","longShortRatio":"3.4543","shortAccount":"0.2245","timestamp":1636905600000}]'
  recorded_at: Sun, 14 Nov 2021 16:31:31 GMT
- request:
    method: get
    uri: https://fapi.binance.com/futures/data/openInterestHist?limit=1&period=1h&symbol=BTCUSDT
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Mbx-Apikey:
      - fh5stcBWhLGyYslwaQBLvJeo4UVM962zqHnPlhqmI7hWXE8ounsHfuxM1q4dh5Ui
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - future-bigdata-service:BIN_PROD:9105
    body:
      encoding: UTF-8
      string: '[{"symbol":"BTCUSDT","sumOpenInterest":"58532.54600000","sumOpenInterestValue":"3752950539.09341708","timestamp":1636905600000}]'
  recorded_at: Sun, 14 Nov 2021 16:31:31 GMT
- request:
    method: get
    uri: https://fapi.binance.com/fapi/v1/fundingRate?limit=1&symbol=BTCUSDT
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Mbx-Apikey:
      - fh5stcBWhLGyYslwaQBLvJeo4UVM962zqHnPlhqmI7hWXE8ounsHfuxM1q4dh5Ui
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"symbol":"BTCUSDT","fundingTime":1636905600000,"fundingRate":"0.00013059"}]'
  recorded_at: Sun, 14 Nov 2021 16:31:31 GMT
- request:
    method: get
    uri: https://api.binance.com/api/v3/klines?interval=1h&limit=2&symbol=BTCUSDT
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Mbx-Uuid:
      - 11ac3279-ab6c-41b9-914b-8a184d8928e6
      X-Mbx-Used-Weight:
      - '3'
      X-Mbx-Used-Weight-1m:
      - '3'
      X-Content-Security-Policy:
      - default-src 'self'
      X-Webkit-Csp:
      - default-src 'self'
    body:
      encoding: UTF-8
      string: '[[1636902000000,"64354.39000000","64354.39000000","64000.00000000","64070.41000000","924.99579000",1636905599999,"59334104.38731470",39662,"416.51034000","26718070.34911810","0"],[1636905600000,"64070.41000000","64187.55000000","63792.79000000","64133.14000000","681.07635000",1636909199999,"43601162.17056070",25087,"287.54164000","18410487.96527900","0"]]'
  recorded_at: Sun, 14 Nov 2021 16:31:32 GMT
- request:
    method: get
    uri: https://fapi.binance.com/fapi/v1/klines?interval=1h&limit=2&symbol=BTCUSDT
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Mbx-Apikey:
      - fh5stcBWhLGyYslwaQBLvJeo4UVM962zqHnPlhqmI7hWXE8ounsHfuxM1q4dh5Ui
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Mbx-Used-Weight-1m:
      - '1'
      X-Response-Time:
      - 0ms
    body:
      encoding: ASCII-8BIT
      string: '[[1636902000000,"64387.46","64387.46","64024.60","64117.84","5748.493",1636905599999,"368959706.65161",72662,"2883.185","185065388.06282","0"],[1636905600000,"64117.84","64229.92","63888.00","64187.33","4897.380",1636909199999,"313820584.49432",58672,"2281.651","146241474.19442","0"]]'
  recorded_at: Sun, 14 Nov 2021 16:31:32 GMT
- request:
    method: get
    uri: https://fapi.binance.com/futures/data/globalLongShortAccountRatio?limit=1&period=1h&symbol=TINAJIMBO
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Mbx-Apikey:
      - fh5stcBWhLGyYslwaQBLvJeo4UVM962zqHnPlhqmI7hWXE8ounsHfuxM1q4dh5Ui
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - future-bigdata-service:BIN_PROD:9105
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Sun, 14 Nov 2021 16:31:32 GMT
- request:
    method: get
    uri: https://fapi.binance.com/futures/data/openInterestHist?limit=1&period=1h&symbol=TINAJIMBO
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Mbx-Apikey:
      - fh5stcBWhLGyYslwaQBLvJeo4UVM962zqHnPlhqmI7hWXE8ounsHfuxM1q4dh5Ui
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - future-bigdata-service:BIN_PROD:9105
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Sun, 14 Nov 2021 16:31:33 GMT
- request:
    method: get
    uri: https://fapi.binance.com/fapi/v1/fundingRate?limit=1&symbol=TINAJIMBO
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Mbx-Apikey:
      - fh5stcBWhLGyYslwaQBLvJeo4UVM962zqHnPlhqmI7hWXE8ounsHfuxM1q4dh5Ui
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Sun, 14 Nov 2021 16:31:33 GMT
[...]
- request:
    method: get
    uri: https://api.binance.com/api/v3/klines?interval=1h&limit=2&symbol=fh5stcBWhLGyYslwaQBLvJeo4UVM962zqHnPlhqmI7hWXE8ounsHfuxM1q4dh5Ui
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Mbx-Uuid:
      - 9a59154c-7b07-40c8-9aaf-6766da6e7771
      X-Mbx-Used-Weight:
      - '1'
      X-Mbx-Used-Weight-1m:
      - '1'
      X-Content-Security-Policy:
      - default-src 'self'
      X-Webkit-Csp:
      - default-src 'self'
    body:
      encoding: UTF-8
      string: '{"code":-1100,"msg":"Illegal characters found in parameter ''symbol'';
        legal range is ''^[A-Z0-9-_.]{1,20}$''."}'
  recorded_at: Mon, 15 Nov 2021 02:52:05 GMT
recorded_with: VCR 6.0.0
