---
http_interactions:
- request:
    method: get
    uri: https://fapi.binance.com/futures/data/globalLongShortAccountRatio?limit=1&period=1h&symbol=BTCUSDT
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Mbx-Apikey:
      - token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - future-bigdata-service:BIN_PROD:9105
    body:
      encoding: UTF-8
      string: '[{"symbol":"BTCUSDT","longAccount":"0.7700","longShortRatio":"3.3478","shortAccount":"0.2300","timestamp":1636873200000}]'
  recorded_at: Sun, 14 Nov 2021 07:41:52 GMT
- request:
    method: get
    uri: https://fapi.binance.com/futures/data/openInterestHist?limit=1&period=1h&symbol=BTCUSDT
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Mbx-Apikey:
      - token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - future-bigdata-service:BIN_PROD:9105
    body:
      encoding: UTF-8
      string: '[{"symbol":"BTCUSDT","sumOpenInterest":"57530.85500000","sumOpenInterestValue":"3730069929.73550341","timestamp":1636873200000}]'
  recorded_at: Sun, 14 Nov 2021 07:41:52 GMT
- request:
    method: get
    uri: https://fapi.binance.com/fapi/v1/fundingRate?limit=1&symbol=BTCUSDT
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Mbx-Apikey:
      - token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"symbol":"BTCUSDT","fundingTime":1636848000010,"fundingRate":"0.00013962"}]'
  recorded_at: Sun, 14 Nov 2021 07:41:52 GMT
- request:
    method: get
    uri: https://api.binance.com/api/v3/klines?interval=1h&limit=2&symbol=BTCUSDT
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Mbx-Uuid:
      - 9e1ab233-f5c3-41c8-95d5-fd095f48ec7a
      X-Mbx-Used-Weight:
      - '1'
      X-Mbx-Used-Weight-1m:
      - '1'
      X-Content-Security-Policy:
      - default-src 'self'
      X-Webkit-Csp:
      - default-src 'self'
    body:
      encoding: UTF-8
      string: '[[1636869600000,"64898.39000000","65201.72000000","64700.00000000","64800.01000000","989.53371000",1636873199999,"64254580.48220990",35312,"503.02549000","32659490.71440640","0"],[1636873200000,"64800.01000000","64887.42000000","64582.28000000","64633.96000000","467.55606000",1636876799999,"30274585.86947160",27900,"212.86284000","13783177.12045660","0"]]'
  recorded_at: Sun, 14 Nov 2021 07:41:53 GMT
- request:
    method: get
    uri: https://fapi.binance.com/fapi/v1/klines?interval=1h&limit=2&symbol=BTCUSDT
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Mbx-Apikey:
      - token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Mbx-Used-Weight-1m:
      - '1'
      X-Response-Time:
      - 0ms
    body:
      encoding: ASCII-8BIT
      string: '[[1636869600000,"64935.12","65190.00","64730.00","64841.13","6476.125",1636873199999,"420708756.37327",81453,"3029.252","196792501.76274","0"],[1636873200000,"64841.12","64915.00","64620.02","64675.00","3033.769",1636876799999,"196526346.48831",38877,"1549.018","100350630.90092","0"]]'
  recorded_at: Sun, 14 Nov 2021 07:41:53 GMT
- request:
    method: get
    uri: https://api.binance.com/api/v3/klines?interval=1h&limit=2&symbol=ELFUSDT
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Mbx-Uuid:
      - c11e8470-58b0-473c-b935-28089d663aca
      X-Mbx-Used-Weight:
      - '2'
      X-Mbx-Used-Weight-1m:
      - '2'
      X-Content-Security-Policy:
      - default-src 'self'
      X-Webkit-Csp:
      - default-src 'self'
    body:
      encoding: UTF-8
      string: '[[1636869600000,"0.54240000","0.54320000","0.54030000","0.54140000","9077.50000000",1636873199999,"4914.32131000",56,"4294.40000000","2325.61926000","0"],[1636873200000,"0.54140000","0.54150000","0.53740000","0.53860000","22994.40000000",1636876799999,"12404.14436000",106,"7782.00000000","4197.35059000","0"]]'
  recorded_at: Sun, 14 Nov 2021 07:41:53 GMT
[...]
- request:
    method: get
    uri: https://fapi.binance.com/futures/data/globalLongShortAccountRatio?limit=1&period=1h&symbol=TINAJIMBO
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Mbx-Apikey:
      - fh5stcBWhLGyYslwaQBLvJeo4UVM962zqHnPlhqmI7hWXE8ounsHfuxM1q4dh5Ui
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - future-bigdata-service:BIN_PROD:9105
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Sun, 14 Nov 2021 07:42:07 GMT
- request:
    method: get
    uri: https://fapi.binance.com/futures/data/openInterestHist?limit=1&period=1h&symbol=TINAJIMBO
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Mbx-Apikey:
      - fh5stcBWhLGyYslwaQBLvJeo4UVM962zqHnPlhqmI7hWXE8ounsHfuxM1q4dh5Ui
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - future-bigdata-service:BIN_PROD:9105
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Sun, 14 Nov 2021 07:42:08 GMT
- request:
    method: get
    uri: https://fapi.binance.com/fapi/v1/fundingRate?limit=1&symbol=TINAJIMBO
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Mbx-Apikey:
      - fh5stcBWhLGyYslwaQBLvJeo4UVM962zqHnPlhqmI7hWXE8ounsHfuxM1q4dh5Ui
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Sun, 14 Nov 2021 07:42:08 GMT
- request:
    method: get
    uri: https://api.binance.com/api/v3/klines?interval=1h&limit=2&symbol=TINAJIMBO
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Mbx-Uuid:
      - 63656c2a-b7ae-4d4a-966a-339f0f67d21c
      X-Mbx-Used-Weight:
      - '1'
      X-Mbx-Used-Weight-1m:
      - '1'
      X-Content-Security-Policy:
      - default-src 'self'
      X-Webkit-Csp:
      - default-src 'self'
    body:
      encoding: UTF-8
      string: '{"code":-1121,"msg":"Invalid symbol."}'
  recorded_at: Sun, 14 Nov 2021 07:42:08 GMT
recorded_with: VCR 6.0.0
