---
http_interactions:
- request:
    method: get
    uri: https://fapi.binance.com/futures/data/globalLongShortAccountRatio?limit=1&period=1h&symbol=BTCUSDT
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Mbx-Apikey:
      - token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - future-bigdata-service:BIN_PROD:9105
    body:
      encoding: UTF-8
      string: '[{"symbol":"BTCUSDT","longAccount":"0.6849","longShortRatio":"2.1736","shortAccount":"0.3151","timestamp":1639051200000}]'
  recorded_at: Thu, 09 Dec 2021 12:50:12 GMT
- request:
    method: get
    uri: https://fapi.binance.com/futures/data/openInterestHist?limit=1&period=1h&symbol=BTCUSDT
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Mbx-Apikey:
      - token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - future-bigdata-service:BIN_PROD:9105
    body:
      encoding: UTF-8
      string: '[{"symbol":"BTCUSDT","sumOpenInterest":"39934.69000000","sumOpenInterestValue":"1962857573.64597038","timestamp":1639051200000}]'
  recorded_at: Thu, 09 Dec 2021 12:50:12 GMT
- request:
    method: get
    uri: https://fapi.binance.com/fapi/v1/fundingRate?limit=1&symbol=BTCUSDT
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Mbx-Apikey:
      - token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"symbol":"BTCUSDT","fundingTime":1639036800000,"fundingRate":"0.00010000"}]'
  recorded_at: Thu, 09 Dec 2021 12:50:12 GMT
- request:
    method: get
    uri: https://api.binance.com/api/v3/klines?interval=1h&limit=2&symbol=BTCUSDT
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Mbx-Uuid:
      - 71e62bae-2e2e-438b-ac6a-a4e538b265b3
      X-Mbx-Used-Weight:
      - '1'
      X-Mbx-Used-Weight-1m:
      - '1'
      X-Content-Security-Policy:
      - default-src 'self'
      X-Webkit-Csp:
      - default-src 'self'
    body:
      encoding: UTF-8
      string: '[[1639047600000,"49312.05000000","49420.01000000","49036.36000000","49160.53000000","1010.60945000",1639051199999,"49740810.09581210",33728,"460.23241000","22651593.05595320","0"],[1639051200000,"49160.54000000","49670.50000000","48942.85000000","49404.26000000","1401.22371000",1639054799999,"69038950.79962120",41516,"713.77197000","35178608.70267890","0"]]'
  recorded_at: Thu, 09 Dec 2021 12:50:14 GMT
- request:
    method: get
    uri: https://fapi.binance.com/fapi/v1/klines?interval=1h&limit=2&symbol=BTCUSDT
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Mbx-Apikey:
      - token
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Mbx-Used-Weight-1m:
      - '1'
      X-Response-Time:
      - 0ms
    body:
      encoding: ASCII-8BIT
      string: '[[1639047600000,"49291.65","49399.00","49021.82","49150.01","7708.554",1639051199999,"379239953.50193",83232,"3625.795","178395629.92422","0"],[1639051200000,"49150.00","49646.12","48935.35","49384.79","11493.891",1639054799999,"566367013.35300",121067,"6186.126","304854967.89453","0"]]'
  recorded_at: Thu, 09 Dec 2021 12:50:14 GMT
- request:
    method: get
    uri: https://fapi.binance.com/futures/data/globalLongShortAccountRatio?limit=1&period=1h&symbol=SOLUSDT
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Mbx-Apikey:
      - fh5stcBWhLGyYslwaQBLvJeo4UVM962zqHnPlhqmI7hWXE8ounsHfuxM1q4dh5Ui
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - future-bigdata-service:BIN_PROD:9105
    body:
      encoding: UTF-8
      string: '[{"symbol":"SOLUSDT","longAccount":"0.8430","longShortRatio":"5.3694","shortAccount":"0.1570","timestamp":1639051200000}]'
  recorded_at: Thu, 09 Dec 2021 12:50:14 GMT
- request:
    method: get
    uri: https://fapi.binance.com/futures/data/openInterestHist?limit=1&period=1h&symbol=SOLUSDT
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Mbx-Apikey:
      - fh5stcBWhLGyYslwaQBLvJeo4UVM962zqHnPlhqmI7hWXE8ounsHfuxM1q4dh5Ui
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - future-bigdata-service:BIN_PROD:9105
    body:
      encoding: UTF-8
      string: '[{"symbol":"SOLUSDT","sumOpenInterest":"1008794.00000000","sumOpenInterestValue":"189321468.43561072","timestamp":1639051200000}]'
  recorded_at: Thu, 09 Dec 2021 12:50:14 GMT
- request:
    method: get
    uri: https://fapi.binance.com/fapi/v1/fundingRate?limit=1&symbol=SOLUSDT
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Mbx-Apikey:
      - fh5stcBWhLGyYslwaQBLvJeo4UVM962zqHnPlhqmI7hWXE8ounsHfuxM1q4dh5Ui
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '[{"symbol":"SOLUSDT","fundingTime":1639036800000,"fundingRate":"0.00010000"}]'
  recorded_at: Thu, 09 Dec 2021 12:50:15 GMT
- request:
    method: get
    uri: https://api.binance.com/api/v3/klines?interval=1h&limit=2&symbol=SOLUSDT
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Mbx-Uuid:
      - 01c5f8a0-2317-437a-a488-77c052af82c4
      X-Mbx-Used-Weight:
      - '2'
      X-Mbx-Used-Weight-1m:
      - '2'
      X-Content-Security-Policy:
      - default-src 'self'
      X-Webkit-Csp:
      - default-src 'self'
    body:
      encoding: UTF-8
      string: '[[1639047600000,"188.43000000","188.83000000","186.89000000","187.63000000","66954.31000000",1639051199999,"12593160.07710000",16949,"27703.15000000","5212670.46430000","0"],[1639051200000,"187.62000000","188.67000000","186.62000000","188.16000000","51776.34000000",1639054799999,"9715131.40100000",13544,"24903.61000000","4673939.75760000","0"]]'
  recorded_at: Thu, 09 Dec 2021 12:50:15 GMT
- request:
    method: get
    uri: https://fapi.binance.com/fapi/v1/klines?interval=1h&limit=2&symbol=SOLUSDT
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Mbx-Apikey:
      - fh5stcBWhLGyYslwaQBLvJeo4UVM962zqHnPlhqmI7hWXE8ounsHfuxM1q4dh5Ui
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Mbx-Used-Weight-1m:
      - '2'
      X-Response-Time:
      - 0ms
    body:
      encoding: ASCII-8BIT
      string: '[[1639047600000,"188.3710","188.7900","186.8940","187.6000","117303",1639051199999,"22053661.9830",19638,"55915","10513814.9690","0"],[1639051200000,"187.6000","188.6390","186.5510","188.1030","150039",1639054799999,"28143866.0520",22384,"70843","13291682.0500","0"]]'
  recorded_at: Thu, 09 Dec 2021 12:50:15 GMT
[...]
- request:
    method: get
    uri: https://fapi.binance.com/futures/data/globalLongShortAccountRatio?limit=1&period=1h&symbol=TINAJIMBO
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Mbx-Apikey:
      - fh5stcBWhLGyYslwaQBLvJeo4UVM962zqHnPlhqmI7hWXE8ounsHfuxM1q4dh5Ui
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - future-bigdata-service:BIN_PROD:9105
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 09 Dec 2021 12:50:17 GMT
- request:
    method: get
    uri: https://fapi.binance.com/futures/data/openInterestHist?limit=1&period=1h&symbol=TINAJIMBO
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Mbx-Apikey:
      - fh5stcBWhLGyYslwaQBLvJeo4UVM962zqHnPlhqmI7hWXE8ounsHfuxM1q4dh5Ui
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - future-bigdata-service:BIN_PROD:9105
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 09 Dec 2021 12:50:17 GMT
- request:
    method: get
    uri: https://fapi.binance.com/fapi/v1/fundingRate?limit=1&symbol=TINAJIMBO
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Mbx-Apikey:
      - fh5stcBWhLGyYslwaQBLvJeo4UVM962zqHnPlhqmI7hWXE8ounsHfuxM1q4dh5Ui
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 09 Dec 2021 12:50:17 GMT
- request:
    method: get
    uri: https://api.binance.com/api/v3/klines?interval=1h&limit=2&symbol=TINAJIMBO
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Mbx-Uuid:
      - cb5feaa5-be8b-42b0-a001-65da1d0c5d17
      X-Mbx-Used-Weight:
      - '6'
      X-Mbx-Used-Weight-1m:
      - '6'
      X-Content-Security-Policy:
      - default-src 'self'
      X-Webkit-Csp:
      - default-src 'self'
    body:
      encoding: UTF-8
      string: '{"code":-1121,"msg":"Invalid symbol."}'
  recorded_at: Thu, 09 Dec 2021 12:50:17 GMT
[...]
- request:
    method: get
    uri: https://fapi.binance.com/futures/data/globalLongShortAccountRatio?limit=1&period=1h&symbol=fh5stcBWhLGyYslwaQBLvJeo4UVM962zqHnPlhqmI7hWXE8ounsHfuxM1q4dh5Ui
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Mbx-Apikey:
      - fh5stcBWhLGyYslwaQBLvJeo4UVM962zqHnPlhqmI7hWXE8ounsHfuxM1q4dh5Ui
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - future-bigdata-service:BIN_PROD:9105
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 09 Dec 2021 12:50:18 GMT
- request:
    method: get
    uri: https://fapi.binance.com/futures/data/openInterestHist?limit=1&period=1h&symbol=fh5stcBWhLGyYslwaQBLvJeo4UVM962zqHnPlhqmI7hWXE8ounsHfuxM1q4dh5Ui
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Mbx-Apikey:
      - fh5stcBWhLGyYslwaQBLvJeo4UVM962zqHnPlhqmI7hWXE8ounsHfuxM1q4dh5Ui
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Application-Context:
      - future-bigdata-service:BIN_PROD:9105
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 09 Dec 2021 12:50:18 GMT
- request:
    method: get
    uri: https://fapi.binance.com/fapi/v1/fundingRate?limit=1&symbol=fh5stcBWhLGyYslwaQBLvJeo4UVM962zqHnPlhqmI7hWXE8ounsHfuxM1q4dh5Ui
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      X-Mbx-Apikey:
      - fh5stcBWhLGyYslwaQBLvJeo4UVM962zqHnPlhqmI7hWXE8ounsHfuxM1q4dh5Ui
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 09 Dec 2021 12:50:18 GMT
- request:
    method: get
    uri: https://api.binance.com/api/v3/klines?interval=1h&limit=2&symbol=fh5stcBWhLGyYslwaQBLvJeo4UVM962zqHnPlhqmI7hWXE8ounsHfuxM1q4dh5Ui
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      X-Mbx-Uuid:
      - 71e62bae-2e2e-438b-ac6a-a4e538b265b3
      X-Mbx-Used-Weight:
      - '7'
      X-Mbx-Used-Weight-1m:
      - '7'
      X-Content-Security-Policy:
      - default-src 'self'
      X-Webkit-Csp:
      - default-src 'self'
    body:
      encoding: UTF-8
      string: '{"code":-1100,"msg":"Illegal characters found in parameter ''symbol'';
        legal range is ''^[A-Z0-9-_.]{1,20}$''."}'
  recorded_at: Thu, 09 Dec 2021 12:50:18 GMT
recorded_with: VCR 6.0.0
